spring:
  application:
    name: CinemaPlus

  datasource:
    url: jdbc:postgresql://localhost:5432/CinemaPlus
    username: myuser
    password: secret
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  data:
    redis:
      host: localhost
      port: 6379